{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danfy - {% block title %}{% endblock title %}
    </title>
</head>

<body>
    <div class="container">
        <div class="header">
            {% include 'header.html' %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="footer">
            {% include 'footer.html' %}
        </div>
    </div>
</body>

</html>