<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danfy - {% block title %}{% endblock title %}
    </title>
</head>

<body>
    <div class="container">
        <div class="header"></div>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="footer">
            <hr>
            <footer>
                <pre>&COPY;Copyright2024 - desenvolvido por <a href="mailto:willian365x@gmail.com">Willian Silva</a></pre>
                <i>Todos os direitos reservados</i>
            </footer>
        </div>
    </div>
</body>

</html>